.nav_bar{
    background-color: #fff;
    height: 60px;
    padding: 5px;
    display: flex;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    gap: 10px;
    z-index: 1;
    position: sticky;
    top: 0;
    border: none;
}

.navbar_first{
    flex: 1;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-weight: 400;
    font-size: 14px;
}
.navbar_second{
 flex: 1;
 display: flex;
 justify-content:space-evenly;
 align-items: center;
 font-weight:200;
 font-size: 14px;
 font-family: 'Rubik',monospac;
}
@media (max-width:1080px){
    .nav_bar{
        flex-direction:column-reverse;
        gap: 10px;
        padding: 1rem;
        height: unset;
    }
    .navbar_first{
        flex-wrap: wrap;
    }
    .navbar_second{
        flex-wrap: wrap;
        word-wrap: break-word;
        word-break: break-all;
    }
}